@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ------------------------------ */

.top-page-background {
  background-color: #1f2937;
}

.container {
  max-width: 1264px;
  padding: 16px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.navigation {
  display: flex;
  color: #e5e7eb;
  gap: 25px;
}

/* --------------------- */

.main-top-page {
  margin: 200px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9faf8;
}

.left-side {
  max-width: 400px;
}

.left-side > * {
  margin-bottom: 10px;
}

.title {
  font-size: 48px;
  font-weight: 900;
}

.description {
  font-size: 18px;
  color: #e5e7eb;
}

.main-top-page button {
  padding: 8px 32px;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.image-placeholder {
  width: 600px;
  height: 300px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #f9faf8;
}

/* -------------------------------- */

.container-small {
  max-width: 984px;
  padding: 16px;
  margin: 0 auto;
}

.main {
  margin: 210px 0;
}

.main-title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 70px;
}

.main-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  flex: 0;
}

.list-image {
  width: 135px;
  height: 135px;
  border: #3882f6 solid 5px;
  border-radius: 10px;
}

.list-description {
  text-align: center;
}

/* ----------------------------- */

.bottom-main-background {
  background-color: #e5e7eb;
}

.quotation-section {
  margin: 100px 0;
  padding: 0 20px;
}

.quotation {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 15px;
}

.quotation-author {
  font-size: 26px;
  font-weight: 700;
  color: #1f2937;
  text-align: right;
}

/* ----------------------------------- */

.registration-background {
  background-color: #3882f6;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
  color: #f9faf8;
  margin: 100px 0;
}

.registration-title {
  margin-bottom: 10px;
  font-weight: 600;
}

.registration-description {
  font-size: 18px;
  color: #e5e7eb;
}

.registration-button {
  padding: 12px 50px;
  background-color: transparent;
  border: 1px solid #f9faf8;
  color: #f9faf8;
  border-radius: 10px;
  cursor: pointer;
}

/* -------------------------- */
.footer {
  margin-top: auto;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
